
html {
  background-color: rgb(36, 36, 36);  
}

p {
  color:rgb(238, 238, 238);
  font-size: 28px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 50px;
  margin-bottom: 10px;
}


i {
  font-size: small;
}
.smspan {
  font-size:large;
}
a {
  color:rgb(238, 238, 238);
  font-family: 'Roboto Mono', monospace;
}


p {
  
}
@media (min-width:768px) {
  p {font-size: 28px;}
}
@media (min-width:1024px) {
  p {font-size: 23px;}
}
@media (min-width:1280px) {
  p {font-size: 18px;}
}

a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

a.port {
  text-decoration: underline;
  text-underline-offset: 4px;
}